.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 1rem;
  width: 70%;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}

.nav a {
  text-decoration: none;
  color: #374150;
  font-weight: 600;
  padding: 0 1.5rem;
}

.nav a:hover {
  color: #5dbf81;
}
