@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.banner-home {
  background: linear-gradient(
    90deg,
    rgba(33, 196, 94, 1) 0%,
    rgba(5, 151, 105, 1) 100%
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 15rem;
  padding: 3rem;
}

.banner-home h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.banner-home p {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.6;
}

.container-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.4rem;
  margin-top: 2rem;
}

.container-search a {
  margin: auto;
  color: #059769;
  padding: 1rem 1.7rem;
}

.container-search a:hover {
  background-color: #e4e4e4;
}

.banner-input {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  width: 22rem;
  padding: 0 0.7rem;
}

.banner-input input {
  padding: 1rem;
  border: none;
  outline: none;
}

.search-icon {
  color: rgb(83, 82, 82);
}

.section-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 15rem;
}

.section-infos article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  margin: 2rem;
}

.section-infos .i {
  font-size: 2rem;
  background-color: #22c3603b;
  border-radius: 50%;
  color: #059769;
  padding: 0.7rem;
}

.section-infos p {
  font-size: 1.2rem;
  font-weight: 500;
}

.section-emphasis {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.section-emphasis h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.section-emphasis p {
  color: #828993;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.section-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
}

.section-cards div {
  transition: all 0.3s ease;
}

.section-cards div:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.footer {
  background-color: #111827;
  color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 13rem;
  text-align: center;
}

.footer h2 {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}

.footer p {
  font-weight: 500;
}

.footer a {
  width: 10rem;
  text-align: center;
  margin-top: 1.5rem;
}

.footer a:hover {
  background-color: #059769;
  color: #e4e4e4;
  transform: scale(1.05);
}

.register {
  background-color: #f1f4fa;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 53rem;
  padding: 2rem 7rem;
}

.register .button-arrow {
  border: none;
  background-color: #f1f4fa;
  cursor: pointer;
  display: flex;
  gap: 0.8rem;
  font-weight: 600;
  padding: 1rem;
}

.register h1 {
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.register p {
  color: #44484e;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.section-register {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.form {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  max-width: 32rem;
}

.form h3 {
  margin-bottom: 1.2rem;
}

.form label {
  color: #44484e;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form .description,
.form input {
  border: 1px solid #82899354;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.form .section-select {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  width: 100%;
}

.form .section-select select {
  border: 1px solid #828993;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.3rem 0;
}

.photo {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  max-width: 17rem;
  height: 10rem;
}

.photo p {
  margin-top: 0.5rem;
  font-size: 0.88rem;
}

.button-form {
  background-color: #059769;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.301);
  cursor: pointer;
  font-weight: 600;
  padding: 0.6rem;
}

@media only screen and (max-width: 907px) {
  .banner-input {
    width: auto;
  }
  .section-infos {
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px) {
  .register h1,
  p {
    padding: 0 1rem;
  }

  .form {
    width: 19rem;
  }

  .form .section-select {
    flex-direction: column;
  }
}
